.divPageBody {
	display: none;
	width: 40%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
	}
.divPresentation {
	display: table;
	margin-left: auto;
	margin-right: auto;
	}
.ulBlogrollExplainer {
	display: table-cell;
	width: 400px;
	font-size: 15px;
	line-height: 140%;
	list-style-type: none;
	vertical-align: top;
	padding-right: 25px;
	}
.divBlogrollContainerContainer {
	display: table-cell;
	}
.ulBlogrollExplainer li {
	margin-bottom: 10px;
	}
.ulExplainerText {
	list-style-type: disc;
	margin-top: 10px;
	}

@media screen and (max-width: 1024px) { /* tablets */
	.divPageBody {
		width: 70%;
		}
	}
@media screen and (max-width: 576px) { /* phones */
	.divPageBody {
		width: 96%;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		}
	.divPresentation {
		width: 100%;
		}
	.ulBlogrollExplainer {
		font-size: 14px;
		padding-right: 10px;
		}
	}

