<script src="https://s3.amazonaws.com/scripting.com/code/includes/jquery-1.9.1.min.js"></script>
<link href="https://s3.amazonaws.com/scripting.com/code/includes/bootstrap.css" rel="stylesheet">
<script src="https://s3.amazonaws.com/scripting.com/code/includes/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://s3.amazonaws.com/scripting.com/code/fontawesome/css/all.css">

<script src="https://s3.amazonaws.com/scripting.com/code/includes/basic/code.js"></script>
<link href="https://s3.amazonaws.com/scripting.com/code/includes/basic/styles.css" rel="stylesheet" type="text/css">

<script src="https://s3.amazonaws.com/scripting.com/code/feedland/home/api.js"></script>
<script src="https://s3.amazonaws.com/scripting.com/code/feedland/home/misc.js"></script>
<link href="https://s3.amazonaws.com/scripting.com/code/feedland/home/misc.css" rel="stylesheet" type="text/css">
<link href="https://s3.amazonaws.com/scripting.com/code/feedland/home/mobile.css" rel="stylesheet" type="text/css">

<link href="https://code.scripting.com/blogroll/blogroll.css" rel="stylesheet">
<script src="https://code.scripting.com/blogroll/blogroll.js"></script>
